<div class="modal fade" id="contrattoModal" tabIndex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #f="ngForm" >
                 <div class="modal-header">
                 </div>

                 <div class="modal-body">

                    <div class="form-group">
                        <label for="id">username</label>
                        <input 
                            >
                    </div>
                 </div>
            </form>
        </div>
    </div>
</div>

