<div class="container">
    <div class="row">
      <div class=" mrgnbtm">
        <h2>Creazione Nuova Domanda</h2>
        
        <form  [formGroup]="domandaFullForm" >
          <div class="row">

        <h4>Protocollo </h4>
        <label class="col-sm-1 " for="Numero">Numero</label>
        <div class="form-group col-sm-3 ">
          <input type="text" class="form-control" formControlName="protocollo" id="protocollo" aria-describedby="protocollolHelp" >
        </div>

        <label class="col-sm-1 "for="Data">Data</label>
        <div class="form-group col-sm-3">
          <input ng-model="answers.dob" type="date" class="form-control" formControlName="data_protocollo" id="data_protocollo" aria-describedby="data_protocollolHelp" >
        </div>

        <div class="form-group col-sm-3"  ><button  class="btn btn-info" (click)="cercaContraente()" >Cerca Contraente</button></div>
        <h4>Tipologia </h4>



        <div class="form-check" class="form-group col-sm-3">
          <input
            id="loculo"
            type="radio"
            value="LOCULO"
            name="tipologia"
            formControlName="tipologia"
          />
          <label class="custom-control-label" for="loculo">Loculo</label>
        </div>
        <div class="form-check" class="form-group col-sm-3">
          <input
            id="tenuta_a_disposizione"
            type="radio"
            value="TENUTA_DISPOSIZIONE"
            name="tipologia"
            formControlName="tipologia"
          />
          <label class="custom-control-label" for="tenuta_a_disposizione">Tenuta a disposizione</label>
        </div>


           <div class="form-group col-sm-2"  ></div>
           <div class="form-group col-sm-3"><button class="btn btn-info" (click)="creaContraente()">Nuovo Contraente</button></div>
            
           <h4>Dati Contraente</h4>
            <label class="col-sm-1 "for="nome">Nome</label>
            <div class="form-group col-sm-3">
              <input  type="text" class="form-control" formControlName="nome" id="nome" aria-describedby="nomelHelp"  readonly>
            </div>
            <label class="col-sm-1 "for="cognome">Cognome</label>
            <div class="form-group col-sm-4">
              <input type="text" class="form-control" formControlName="cognome" id="cognome" aria-describedby="cognomelHelp"  readonly>
            </div>

            <h4>Dati Nascita</h4>
            <label class="col-sm-1 "for="comune_nascita">Comune</label>
            <div class="form-group col-sm-3">
              <input type="text" class="form-control" formControlName="comune_nascita" id="comune_nascita" aria-describedby="comune_nascitalHelp"  readonly>
            </div>
            <label class="col-sm-1 "for="provincia_nascita">Provincia</label>
            <div class="form-group col-sm-1">
              <input type="text" class="form-control" formControlName="provincia_nascita" id="provincia_nascita" aria-describedby="provincia_nascitalHelp"  readonly>
            </div>
            <label class="col-sm-1 "for="stato_nascita">Stato</label>
            <div class="form-group col-sm-2">
              <input type="text" class="form-control" formControlName="stato_nascita" id="stato_nascita" aria-describedby="stato_nascitalHelp"  readonly>
            </div>
            <label class="col-sm-1 "for="data_nascita">Data</label>
            <div class="form-group col-sm-2">
              <input  type="text" class="form-control" formControlName="data_nascita" id="data_nascita" aria-describedby="data_nascitalHelp"  readonly>
            </div>

            <h4>Dati Residenza</h4>
            <label class="col-sm-1 "for="comune_residenza">Comune</label>
            <div class="form-group col-sm-3">
              <input type="text" class="form-control" formControlName="comune_residenza" id="comune_residenza" aria-describedby="comune_residenzalHelp"  readonly>
            </div>
            <label class="col-sm-1 "for="provincia_residenza">Provincia</label>
            <div class="form-group col-sm-1">
              <input type="text" class="form-control" formControlName="provincia_residenza" id="provincia_residenza" aria-describedby="provincia_residenzalHelp"  readonly>
            </div>
            <label class="col-sm-1 "for="via_residenza">Indirizzo</label>
            <div class="form-group col-sm-3">
              <input type="text" class="form-control" formControlName="via_residenza" id="via_residenza" aria-describedby="via_residenzalHelp"  readonly>
            </div>
            <label class="col-sm-1 "for="civico_residenza">Civico</label>
            <div class="form-group col-sm-1">
              <input type="text" class="form-control" formControlName="civico_residenza" id="civico_residenza" aria-describedby="civico_residenzalHelp"  readonly>
            </div>

            <br>
            <br>
            <label class="col-sm-1 "for="cap_residenza">Cap</label>
            <div class="form-group col-sm-2">
              <input type="text" class="form-control" formControlName="cap_residenza" id="cap_residenza" aria-describedby="cap_residenzalHelp"  readonly>
            </div>

            <h4>Altri Dati </h4>
            <label class="col-sm-2 "for="codice_fiscale">Codice Fiscale</label>
            <div class="form-group col-sm-5">
              <input type="text" class="form-control" formControlName="codice_fiscale" id="codice_fiscale" aria-describedby="codice_fiscalelHelp"  readonly>
            </div>
            <label class="col-sm-1 "for="email">Email</label>
            <div class="form-group col-sm-4">
              <input type="text" class="form-control" formControlName="email" id="email" aria-describedby="emaillHelp"  readonly>
            </div>

            <br>
            <br>
            <label class="col-sm-1 "for="note">Note</label>
              <div class="form-group col-lg">
              <textarea class="form-control" formControlName="note" id="note" rows="3" aria-describedby="notelHelp" readonly ></textarea>
            </div>


            

            <h4>Dati Posto </h4>

            <label class="col-sm-1 "for="loculo">Loculo</label>
              <div class="form-group col-sm-3">
              <input type="text" class="form-control" formControlName="loculo" id="loculo" aria-describedby="loculolHelp" >
            </div>

            <label class="col-sm-1 "for="fornice">Fornice</label>
            <div class="form-group col-sm-3">
             <input type="text" class="form-control" formControlName="fornice" id="fornice" aria-describedby="fornicelHelp" >
            </div>
            <div class="form-group col-sm-2"  ></div>
            <div class="form-group col-sm-2" ><button  class="btn btn-info" (click)="cercaPosto()">Cerca Posto</button></div>

            <h4>Assegnatario </h4>
            <label class="col-sm-1 "for="nomeAss">Nome</label>
            <div class="form-group col-sm-3">
                 <input type="text" class="form-control" formControlName="nomeAss" id="nomeAss" aria-describedby="nomeAssHelp" >
            </div>
            <label class="col-sm-1 "for="cognomeAss">Cognome</label>
            <div class="form-group col-sm-4">
                 <input type="text" class="form-control" formControlName="cognomeAss" id="cognomeAss" aria-describedby="cognomeAssHelp" >
            </div>

            <h4>Dati Decesso </h4>
            <label class="col-sm-1 "for="comune_decesso">Comune</label>
            <div class="form-group col-sm-3">
                 <input type="text" class="form-control" formControlName="comune_decesso" id="comune_decesso" aria-describedby="comune_decessoHelp" >
            </div>
            <label class="col-sm-1" for="data_decesso">Data</label>
            <div class="form-group col-sm-2">
                 <input  ng-model="answers.dob" type="date" class="form-control" formControlName="data_decesso" id="data_decesso" aria-describedby="data_decessoHelp" >

                </div>

          </div>
          <div class="text-end">

              <button  input type="reset" value="cancella" class="btn btn-info me-1" >Annulla</button>
           <button  (click)="addDomanda()" [disabled]="!domandaFullForm.valid" class="btn btn-danger">Salva</button>
 
        </div>


          </form>
        </div>
        <div class="col-md-4 mrgnbtm">
        </div>
     </div>
      
</div>
<app-cercacontraenti-model (save)="assegnaContraenteWatcher($event)"></app-cercacontraenti-model>
<app-contraenti-model (save)="saveContraenteWatcher($event)"></app-contraenti-model>
<app-posti-model (save)="assegnaPostoWatcher($event)"></app-posti-model>