<div class="side-bar-container">
    <mat-sidenav-container>
        <mat-sidenav #sideNav mode="side" [opened]="authState.isAuthenticated" position="start">
            <mat-nav-list>
                <a mat-list-item [routerLink]="'/domandaFull'" *appHasRole="[Roles.SUPERADMIN,Roles.ADMIN]"> Nuova Domanda </a>
                <a mat-list-item [routerLink]="'/domanda'" *appHasRole="[Roles.SUPERADMIN,Roles.ADMIN]"> Domande </a>
                <a mat-list-item [routerLink]="'/contratto'" *appHasRole="[Roles.SUPERADMIN,Roles.ADMIN,Roles.OPERATOR,Roles.USER]"> Contratti </a>
                <a mat-list-item [routerLink]="'/posto'" *appHasRole="[Roles.SUPERADMIN,Roles.ADMIN,Roles.OPERATOR]"> Posti </a>
                <a mat-list-item [routerLink]="'/contraente'" *appHasRole="[Roles.SUPERADMIN,Roles.ADMIN,Roles.OPERATOR]"> Contraenti </a>
                <a mat-list-item [routerLink]="'/cercadefunti'"> Cerca Defunti </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="height: 88vh;">

                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>