<div class="container">
    <div class="row">
      <div class=" mrgnbtm">
        <h2>Cerca Domande</h2>
       
       
        <form [formGroup]="domandaForm">
          <div class="row">
            <div class="form-group col-sm-10"></div>
            <div class="form-group col-sm-2"><button class="btn btn-info" [routerLink]="['/domandaFull']">Nuova Domanda</button> </div>
          </div>
          <div class="row">
            <h4>Dati Contraente</h4>
            <label class="col-sm-1 "for="nome">Nome</label>
            <div class="form-group col-sm-5">
              <input type="text" class="form-control" formControlName="nome" id="nome" aria-describedby="nomelHelp">
            </div>
            
            <label class="col-sm-1 "for="cognome">Cognome</label>
            <div class="form-group col-sm-5">
              <input type="text" class="form-control" formControlName="cognome" id="cognome" aria-describedby="cognomelHelp">
            </div>
          </div>
            <br>
            <div class="row">

            
              <label class="col-sm-1 "for="Data">Tipologia</label>
              <div class="form-check"   class="form-group col-sm-1" style="font-size: medium;">
                <input
                  id="loculo"
                  type="radio"
                  value="LOCULO"
                  name="tipologia"
                  formControlName="tipologia"
                />
                <label class="custom-control-label" for="loculo"> Loculo</label>
              </div>
              <div class="form-check"   class="form-group col-sm-3" >
                <input
                  id="tenuta_a_disposizione"
                  type="radio"
                  value="TENUTA_DISPOSIZIONE"
                  name="tipologia"
                  formControlName="tipologia"
                />
                <label class="custom-control-label" for="tenuta_a_disposizione" style="font-size: medium;"> Tenuta a disposizione</label>
              </div>
              <div class="form-group col-sm-1"></div>
              <label class="col-sm-1 "for="codice_fiscale">Cod. Fis.</label>
              <div class="form-group col-sm-5">
                <input type="text" class="form-control" formControlName="codice_fiscale" id="codice_fiscale" aria-describedby="codice_fiscalelHelp">
              </div>
            </div>
            <br>
            <div class="row">
              <label class="col-sm-1 "for="numero_protocollo">N.Protocollo</label>
              <div class="form-group col-md-5">
                <input type="text" class="form-control" formControlName="numero_protocollo" id="numero_protocollo" aria-describedby="numero_protocollolHelp">
              </div>

              <label class="col-sm-1 "for="stato">Stato</label>
              <div class="form-group col-md-5">
                  <select class="form-select" formControlName="stato" id="stato" name="stato" aria-label="Default select example">
                    <option value="">-----</option>
                    <option value="APERTA">APERTA</option>
                    <option value="CHIUSA">CHIUSA</option>
                  </select>
              </div>
            </div>
            <br>
            <div class="row">
  
              <h4>Cerca Intervallo</h4>
              <label class="col-sm-1 "for="data_protocollo_iniziale">da</label>
              <div class="form-group col-md-2">
                <input ng-model="answers.dob" type="date" class="form-control" formControlName="data_protocollo_iniziale" id="data_protocollo_iniziale" aria-describedby="data_protocollo_inizialelHelp" >
              </div>
              <label class="col-sm-1 "for="data_protocollo_finale">a</label>
              <div class="form-group col-md-2">
                <input ng-model="answers.dob" type="date" class="form-control" formControlName="data_protocollo_finale" id="data_protocollo_finale" aria-describedby="data_protocollo_finalelHelp" >
              </div>
  
            </div>
            <br>
            <div class="row">
              <button class="btn btn-info col-md-2"  (click)="cercaDomande(domandaForm, true)">Cerca</button>
              <div class="col-md-8"></div>
              <button input type="reset" class="btn btn-danger col-md-2" type="reset">Svuota Filtri</button>
            </div>
        </form>
        </div>
    <br>
     </div>
      <h2>Domande</h2>
      <!-- <table class="table table-bordered">
      <thead>
        <tr>
          <th>N.Protocollo</th>
          <th>Stato</th>
          <th>Data Protocollo</th>
          <th>Nome Contraente</th>
          <th>Cognome Contraente</th>
          <th>Assegnatario</th>
          <th>Contratto</th>
          <th>Dettaglio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let domanda of domande">
          <td>{{domanda.numeroProtocolloDomanda}}</td>
          <td>{{domanda.stato}}</td>
          <td>{{domanda.dataProtocollo |date:'dd-MM-YYYY'}}</td>
          <td>{{domanda.nomeContraente}}</td>
          <td>{{domanda.cognomeContraente}}</td>
          <td>{{domanda.cognomeAss}} {{domanda.nomeAss}}</td>
          <td><button class="btn btn-primary me-1" (click)="showContratto(domanda)" >Dettaglio</button></td> 
          <td><button class="btn btn-primary me-1" (click)="editDomandaRequest(domanda)" >Dettaglio</button></td>
        </tr>
      </tbody>
      </table> -->

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

        <!-- Colonna nome -->
        <ng-container matColumnDef="numeroProtocolloDomanda">
          <th mat-header-cell *matHeaderCellDef> N.Protocollo </th>
          <td mat-cell *matCellDef="let element"> {{element.numeroProtocolloDomanda}} </td>
        </ng-container>

        <!-- Colonna stato -->
        <ng-container matColumnDef="stato">
          <th mat-header-cell *matHeaderCellDef> Stato </th>
          <td mat-cell *matCellDef="let element"> {{element.stato}} </td>
        </ng-container>

        <!-- Colonna dataProtocollo -->
        <ng-container matColumnDef="dataProtocollo">
          <th mat-header-cell *matHeaderCellDef> Data Protocollo </th>
          <td mat-cell *matCellDef="let element"> {{element.dataProtocollo | date: 'dd/MM/YYYY'}} </td>
        </ng-container>

        <!-- Colonna nomeContraente -->
        <ng-container matColumnDef="nomeContraente">
          <th mat-header-cell *matHeaderCellDef> Nome Contraente </th>
          <td mat-cell *matCellDef="let element"> {{element.nomeContraente}} </td>
        </ng-container>

        <!-- Colonna cognomeContraente -->
        <ng-container matColumnDef="cognomeContraente">
          <th mat-header-cell *matHeaderCellDef> Cognome Contraente </th>
          <td mat-cell *matCellDef="let element"> {{element.cognomeContraente}} </td>
        </ng-container>

        <!-- Colonna assegnatario -->
        <ng-container matColumnDef="assegnatario">
          <th mat-header-cell *matHeaderCellDef> Assegnatario </th>
          <td mat-cell *matCellDef="let element"> {{element.cognomeAss}} {{element.nomeAss}} </td>
        </ng-container>

        <!-- Colonna contratto -->
        <ng-container matColumnDef="contratto">
          <th mat-header-cell *matHeaderCellDef> Contratto </th>
          <td mat-cell *matCellDef="let element"> <button class="btn btn-primary me-1" (click)="showContratto(element)" >Dettaglio</button> </td>
        </ng-container>

        <!-- Colonna dettaglio -->
        <ng-container matColumnDef="dettaglio">
          <th mat-header-cell *matHeaderCellDef> Dettaglio </th>
          <td mat-cell *matCellDef="let element"> <button class="btn btn-primary me-1" (click)="editDomandaRequest(element)" >Dettaglio</button> </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    [length]="totalElements"
                    [pageSize]="pageSize"
                    (page)="onPageChange($event)"
                    
                    aria-label="Seleziona la pagina dei contraenti">
    </mat-paginator>
   </div>
     </div>

     <app-domanda-model [domanda]="selectedDomanda" (save)="onPageChange($event)"></app-domanda-model>
     <app-contratto-model *ngIf="selectedContratto" [contratto]="selectedContratto" (save)="onPageChange($event)"></app-contratto-model>
     