<div class="container">
    <div class="row">
      <div class=" mrgnbtm">
        <h2>Domande</h2>
        <div class="text-end"><button [routerLink]="['/domandaFull']">Nuova Domanda</button> </div>
        <h4>Cerca Domande</h4>
        <h6>Dati Contraente</h6>
        <form [formGroup]="domandaForm">
          <div class="row">

            <label class="col-sm-1 "for="nome">Nome</label>
            <div class="form-group col-sm-2">
              <input type="text" class="form-control" formControlName="nome" id="nome" aria-describedby="nomelHelp">
            </div>
            
            <label class="col-sm-1 "for="cognome">Cognome</label>
            <div class="form-group col-sm-2">
              <input type="text" class="form-control" formControlName="cognome" id="cognome" aria-describedby="cognomelHelp">
            </div>

            <label class="col-sm-1 "for="codice_fiscale">Cod. Fis.</label>
            <div class="form-group col-sm-2">
              <input type="text" class="form-control" formControlName="codice_fiscale" id="codice_fiscale" aria-describedby="codice_fiscalelHelp">
            </div>
            
            <fieldset>
              <label class="col-sm-1 "for="Tipologia"><h5>Tipologia</h5></label>
                Loculo <input type="radio" name="linguaggio" value="Loculo"/>
                Tenuta a Disposizione <input type="radio" name="linguaggio" value="Tenuta a Disposizione"/>
            </fieldset>

            <label class="col-sm-1 "for="numero_protocollo">N.Protocollo</label>
            <div class="form-group col-md-2">
              <input type="text" class="form-control" formControlName="numero_protocollo" id="numero_protocollo" aria-describedby="numero_protocollolHelp">
            </div>

            <label class="col-sm-1 "for="stato">Stato</label>
             <div class="form-group col-md-2">
                <select class="form-select" aria-label="Default select example">
                  <option value="1">-----</option>
                  <option value="2">Aperta</option>
                  <option value="3">Chiusa</option>
                </select>
            </div>
  
            <h6>Cerca Intervallo</h6>
            <div class="form-group col-md-2">
             da <input type="text" class="form-control" formControlName="data_protocollo_iniziale" id="data_protocollo_iniziale" aria-describedby="data_protocollo_inizialelHelp" placeholder="data_protocollo_iniziale">
            </div>
            <div class="form-group col-md-2">
             a <input type="text" class="form-control" formControlName="data_protocollo_finale" id="data_protocollo_finale" aria-describedby="data_protocollo_finalelHelp" placeholder="data_protocollo_finale">
            </div>
  
          </div>
          <button  (click)="cercaDomande(domandaForm)">Cerca</button>
          <button (click)="svuotaDomanda(domandaForm)" type="reset">Svuota Filtri</button>
        </form>
        </div>
        <div class="col-md-4 mrgnbtm">
        </div>
     </div>
      <h2>Domande</h2>
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>N.Protocollo</th>
          <th>Stato</th>
          <th>Data Protocollo</th>
          <th>Nome Contraente</th>
          <th>Cognome Contraente</th>
          <th>codice fiscale</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let domanda of domande; let i = index">
          <td>{{domanda.protocollo}}</td>
          <td>{{domanda.stato}}</td>
          <td>{{domanda.data_protocollo}}</td>
          <td>{{domanda.nome}}</td>
          <td>{{domanda.cognome}}</td>
          <td>{{domanda.codice_fiscale}}</td>
        </tr>
      </tbody>
      </table>
     </div>