<div class="container">
    <div class="row">
      <div class=" mrgnbtm">
        <h2>Domande</h2>
        <div class="text-end"><button [routerLink]="['/domandaFull']">Nuova Domanda</button> </div>
        <h4>Cerca</h4>
        <form [formGroup]="domandaForm">
          <div class="row">
            <div class="form-group col-md-4">
              <input type="text" class="form-control" formControlName="nome" id="nome" aria-describedby="nomelHelp" placeholder="nome">
            </div>
            <div class="form-group col-md-4">
              <input type="text" class="form-control" formControlName="cognome" id="cognome" aria-describedby="cognomelHelp" placeholder="cognome">
            </div>
            <div class="form-group col-md-4">
              <input type="text" class="form-control" formControlName="codice_fiscale" id="codice_fiscale" aria-describedby="codice_fiscalelHelp" placeholder="codice_fiscale">
            </div>
              <div class="form-group col-md-4">
              <input type="text" class="form-control" formControlName="email" id="email" aria-describedby="emaillHelp" placeholder="email">
            </div>

            <fieldset>
              <legend><h5>Tipologia</h5></legend>
              Loculo <input type="radio" name="linguaggio" value="Loculo"/>
              Tenuta a Disposizione <input type="radio" name="linguaggio" value="Tenuta a Disposizione"/>
            </fieldset>

            <h6>Intervallo Ricerca</h6>
            <div class="form-group col-md-2">
             da <input type="text" class="form-control" formControlName="data_protocollo_iniziale" id="data_protocollo_iniziale" aria-describedby="data_protocollo_inizialelHelp" placeholder="data_protocollo_iniziale">
            </div>
            <div class="form-group col-md-2">
             a <input type="text" class="form-control" formControlName="data_protocollo_finale" id="data_protocollo_finale" aria-describedby="data_protocollo_finalelHelp" placeholder="data_protocollo_finale">
            </div>
            <div class="form-group col-md-2">
              <input type="text" class="form-control" formControlName="numero_protocollo" id="numero_protocollo" aria-describedby="numero_protocollolHelp" placeholder="numero_protocollo">
            </div>
          </div>
          <button (click)="cercaDomande(domandaForm)">Cerca</button>
          <button (click)="svuotaDomanda(domandaForm)">Svuota Filtri</button>
        </form>
        </div>
        <div class="col-md-4 mrgnbtm">
        </div>
     </div>
      <h2>Domande</h2>
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>protocollo</th>
          <th>data_protocollo</th>
          <th>stato</th>
          <th>fk_posto</th>
          <th>fk_assegnatario</th>
          <th>fk_contraente</th>
          <th>fk_user_modifier</th>
          <th>data_insert</th>
          <th>data_update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let domanda of domande; let i = index">
          <td>{{i + 1}}</td>
          <td>{{domanda.protocollo}}</td>
          <td>{{domanda.data_protocollo}}</td>
          <td>{{domanda.stato}}</td>
          <td>{{domanda.fk_posto}}</td>
          <td>{{domanda.fk_assegnatario}}</td>
          <td>{{domanda.fk_contraente}}</td>
          <td>{{domanda.fk_user_modifier}}</td>
          <td>{{domanda.data_insert}}</td>
          <td>{{domanda.data_update}}</td>
        </tr>
      </tbody>
      </table>
     </div>