
<div class="container">
  <div class="row">
    

      <h2>Cerca Contraente</h2>

      <form [formGroup]="contraenteForm">
        <div class="row">
          <h4>Dati</h4>

          <label class="col-md-1"for="nome">Nome</label>
              <div class="form-group col-md-5">
              <input type="text" class="form-control" formControlName="nome" id="nome" aria-describedby="nomelHelp" >
            </div>

            <label class="col-md-1"for="cognome">Cognome</label>
            <div class="form-group col-md-5">
            <input type="text" class="form-control" formControlName="cognome" id="cognome" aria-describedby="cognomelHelp" >
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
          <label class="col-md-1" for="codice_fiscale">Cod. Fiscale</label>
          <div class="form-group col-md-5">
          <input type="text" class="form-control col-md-2" formControlName="codice_fiscale" id="codice_fiscale" aria-describedby="codice_fiscalelHelp" >
        </div>
  
            <label class="col-md-1" for="protocollo">N. Protocollo</label>
            <div class="form-group col-md-5">
            <input type="text" class="form-control" formControlName="protocollo" id="protocollo" aria-describedby="protocollolHelp" >
            </div>
            </div>
            <br>
            <div class="row">
              <button class="btn btn-info col-md-2" (click)="filtraContraenti()">Cerca</button>
              <div class="col-md-8"></div>
              <button input type="reset" value="cancella" class="btn btn-danger col-md-2" data-bs-dismiss="modal">svuota</button>
            </div>
      </form>
      </div>
   

   <h2>Contraenti</h2>
   <table class="table table-bordered">
   <thead>
     <tr>

       <th>Nome</th>
       <th>Cognome</th>
       <th>Codice Fiscale</th>
       <th>Residenza</th>
       <th>Assegnatario</th>
       <th>Contratto</th>
       <th>Dettaglio Contratto</th>
     </tr>
   </thead>
   <tbody>
   
     <tr *ngFor="let contraentiTab of contraenti;">
       <td>{{contraentiTab.nome}}</td>
       <td>{{contraentiTab.cognome}}</td>
       <td>{{contraentiTab.codice_fiscale}}</td>
       <td>{{contraentiTab.comune_residenza}} - {{contraentiTab.via_residenza}} ({{contraentiTab.provincia_residenza}})</td>
       <td>{{contraentiTab.cognomeAss}} {{contraentiTab.nomeAss}} </td>
       <td>{{contraentiTab.protocolloC}}</td>
       <td></td>
     </tr>
     </tbody>
   </table>
   </div>



