
<div class="container">
  <div class="row">
    <div class="col-md-7 mrgnbtm">

      <h2>Cerca Contraente</h2>

      <form [formGroup]="contraenteForm">
        <div class="row">

          <label class="col-sm-2"for="nome">Nome</label>
              <div class="form-group col-sm-4">
              <input type="text" class="form-control" formControlName="nome" id="nome" aria-describedby="nomelHelp" >
            </div>

            <label class="col-sm-2"for="cognome">Cognome</label>
            <div class="form-group col-sm-4">
            <input type="text" class="form-control" formControlName="cognome" id="cognome" aria-describedby="cognomelHelp" >
          </div>


          <br>
          <br>
          <br>
          <label class="col-sm-2" for="codice_fiscale">Cod. Fiscale</label>
          <div class="form-group col-sm-4">
          <input type="text" class="form-control" formControlName="codice_fiscale" id="codice_fiscale" aria-describedby="codice_fiscalelHelp" >
        </div>
  
            <label class="col-sm-2" for="protocollo">N. Protocollo</label>
            <div class="form-group col-sm-4">
            <input type="text" class="form-control" formControlName="protocollo" id="protocollo" aria-describedby="protocollolHelp" >
            </div>
            </div>
            <br>
            <button input type="reset" value="cancella" class="btn btn-secondary me-1" data-bs-dismiss="modal">svuota</button>
        <button class="btn btn-primary" (click)="filtraContraenti()">Cerca</button>
      </form>
      </div>
      <div class="col-md-4 mrgnbtm"></div>
   </div>

   <h2>Contraenti</h2>
   <table class="table table-bordered">
   <thead>
     <tr>

       <th>Nome</th>
       <th>Cognome</th>
       <th>Codice Fiscale</th>
       <th>Comune Residenza</th>
       <th>Via Residenza</th>
       <th>Provincia Residenza</th>
       <th>Nome Assegnatario</th>
       <th>Cognome Assegnatario</th>
       <th>Contratto</th>
       <th> </th>
     </tr>
   </thead>
   <tbody>
   
     <tr *ngFor="let contraentiTab of contraenti;">
       <td>{{contraentiTab.nome}}</td>
       <td>{{contraentiTab.cognome}}</td>
       <td>{{contraentiTab.codice_fiscale}}</td>
       <td>{{contraentiTab.comune_residenza}}</td>
       <td>{{contraentiTab.via_residenza}}</td>
       <td>{{contraentiTab.provincia_residenza}}</td>
       <td>{{contraentiTab.nomeAss}}</td>
       <td>{{contraentiTab.cognomeAss}}</td>
       <td>{{contraentiTab.protocolloC}}</td>
     </tr>
     </tbody>
   </table>
   </div>



