<div class="modal fade" id="contraentiModal" tabIndex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #f="ngForm" >
                 <div class="modal-header">
                    <h4 class="modal-title">Contraente</h4>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                 </div>
                 <div class="modal-body">

                    <div class="alert alert-danger" *ngIf="errorMessage">
                        <strong>Error!</strong>{{errorMessage}}
                    </div>
                    <div class="form-group">
                        <label for="cognome">Cognome</label>
                        <input 
                            type="text" 
                            id="cognome" 
                            name="cognome"
                            class="form-control" 
                            [(ngModel)]="contraente.cognome"
                            #cognome="ngModel"
                            required
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !cognome.valid">
                            Campo Obbligatorio
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input 
                            type="text" 
                            id="nome" 
                            name="nome"
                            class="form-control" 
                            [(ngModel)]="contraente.nome"
                            #nome="ngModel"
                            required
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !nome.valid">
                            Campo Obbligatorio
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="comune_nascita">Comune di Nascita</label>
                        <input 
                            type="text" 
                            id="comune_nascita" 
                            name="comune_nascita"
                            class="form-control" 
                            [(ngModel)]="contraente.comune_nascita"
                            #comune_nascita="ngModel"
                            required
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !comune_nascita.valid">
                            Campo Obbligatorio
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="provincia_nascita">Provincia di Nascita</label>
                        <input 
                            type="text" 
                            id="provincia_nascita" 
                            name="provincia_nascita"
                            class="form-control" 
                            [(ngModel)]="contraente.provincia_nascita"
                            #provincia_nascita="ngModel"
                            required
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !provincia_nascita.valid">
                            Campo Obbligatorio
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="stato_nascita">Stato di Nascita</label>
                        <input 
                            type="text" 
                            id="stato_nascita" 
                            name="stato_nascita"
                            class="form-control" 
                            [(ngModel)]="contraente.stato_nascita"
                            #stato_nascita="ngModel"
                            required
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !stato_nascita.valid">
                            Campo Obbligatorio
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="data_nascita">Data di Nascita</label>
                        <input 
                            type="date" 
                            id="data_nascita" 
                            name="data_nascita"
                            class="form-control"
                            ng-model="answers.dob"
                            [(ngModel)]="contraente.data_nascita"
                            #data_nascita="ngModel"
                            required
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !data_nascita.valid">
                            Campo Obbligatorio
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="comune_residenza">Comune di Residenza</label>
                        <input 
                            type="text" 
                            id="comune_residenza" 
                            name="comune_residenza"
                            class="form-control" 
                            [(ngModel)]="contraente.comune_residenza"
                            #comune_residenza="ngModel"
                            required
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !comune_residenza.valid">
                            Campo Obbligatorio
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="provincia_residenza">Provincia di Residenza</label>
                        <input 
                            type="text" 
                            id="provincia_residenza" 
                            name="provincia_residenza"
                            class="form-control" 
                            [(ngModel)]="contraente.provincia_residenza"
                            #provincia_residenza="ngModel"
                            required
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !provincia_residenza.valid">
                            Campo Obbligatorio
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="via_residenza">Via di Residenza</label>
                        <input 
                            type="text" 
                            id="via_residenza" 
                            name="via_residenza"
                            class="form-control" 
                            [(ngModel)]="contraente.via_residenza"
                            #via_residenza="ngModel"
                            required
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !via_residenza.valid">
                            Campo Obbligatorio
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="civico_residenza">Civico di Residenza</label>
                        <input 
                            type="text" 
                            id="civico_residenza" 
                            name="civico_residenza"
                            class="form-control" 
                            [(ngModel)]="contraente.civico_residenza"
                            #civico_residenza="ngModel"
                            required
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !civico_residenza.valid">
                            Campo Obbligatorio
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cap_residenza">Cap di Residenza</label>
                        <input 
                            type="text" 
                            id="cap_residenza" 
                            name="cap_residenza"
                            class="form-control" 
                            [(ngModel)]="contraente.cap_residenza"
                            #cap_residenza="ngModel"
                            required
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !cap_residenza.valid">
                            Campo Obbligatorio
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input 
                            type="text" 
                            id="telefono" 
                            name="telefono"
                            class="form-control" 
                            [(ngModel)]="contraente.telefono"
                            #telefono="ngModel"
                            required
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !telefono.valid">
                            Campo Obbligatorio
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="codice_fiscale">Codice Fiscale</label>
                        <input 
                            type="text" 
                            id="codice_fiscale" 
                            name="codice_fiscale"
                            class="form-control" 
                            [(ngModel)]="contraente.codice_fiscale"
                            #codice_fiscale="ngModel"
                            required
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !codice_fiscale.valid">
                            Campo Obbligatorio
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input 
                            type="text" 
                            id="email" 
                            name="email"
                            class="form-control" 
                            [(ngModel)]="contraente.email"
                            #email="ngModel"
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !email.valid">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="note">Note</label>
                        <input 
                            type="text" 
                            id="note" 
                            name="note"
                            class="form-control" 
                            [(ngModel)]="contraente.note"
                            #note="ngModel"
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !note.valid">
                        </div>
                    </div>

                 </div>

                  <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                    <button class="btn btn-primary" (click)="saveContraente()">Salva modifiche</button></div>
            </form>
        </div>
    </div>
</div>

