<div class="modal fade" id="postiModal" tabIndex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #f="ngForm" >
                 <div class="modal-header">
                    <h5 class="modal-title">Posto</h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                 </div>
                 <div class="modal-body">

                    <div class="alert alert-danger" *ngIf="errorMessage">
                        <strong>Error!</strong>{{errorMessage}}
                    </div>

                    <div class="form-group">
                        <label for="loculo">loculo</label>
                        <input 
                            type="searchValue" 
                            id="loculo" 
                            name="loculo"
                            class="form-control" 
                            [(ngModel)]="posto1.loculo"
                            #loculo="ngModel"
                            required
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !loculo.valid">
                            Campo Obbligatorio
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fornice">fornice</label>
                        <input 
                            type="searchValue" 
                            id="fornice" 
                            name="fornice"
                            class="form-control" 
                            [(ngModel)]="posto1.fornice"
                            #fornice="ngModel"
                            >
                        <div class="alert-danger" *ngIf="f.submitted && !fornice.valid">
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                  <button class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                  <button (click)="filtraPosti(posto1)">Cerca</button>
                </div>
          </form>
          <h2>Posti Liberi</h2>
          <table class="table table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>loculo</th>
              <th>fornice</th>
            </tr>
          </thead>
          <tbody>
          
            <tr *ngFor="let postoTab of posti;">
              <td><input type="checkbox"  [(ngModel)]="postoTab.checked"></td>
              <td>{{postoTab.loculo}}</td>
              <td>{{postoTab.fornice}}</td>
            </tr>
            </tbody>
          </table>
          <button (click)="assegnaPosto(posti)">Seleziona</button>
      </div>
  </div>
</div>


