<div class="navbar navbar-expand navbar-dark bg-dark">
  <a href="" class="navbar-brand ms-1" >
    <img 
      width="40"
      alt="logo comune s.egidio"
      src="https://upload.wikimedia.org/wikipedia/it/0/04/Sant%27Egidio_alla_Vibrata-Stemma.png"
      />
      Affetti
  </a>
  <div class="navbar-nav me-auto">
    <li class="nav-item">
      <a [routerLink]="['/admin']" class="nav-link">Admin</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/user']" class="nav-link">User</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/home']" class="nav-link">Home</a>
    </li>

    <li class="nav-item">
      <a [routerLink]="['/posto']" class="nav-link">Posto</a>
    </li>
    
  </div>

  <div class="navbar-nav ms-auto">
    <li class="nav-item">
      <a href="" class="nav-link">Sing up</a>
    </li>
    <li class="nav-item me-1">
      <a href="" class="nav-link">Sing In</a>
    </li> 
  </div>
</div>


<app-header></app-header>

<router-outlet></router-outlet>