<div class="navbar navbar-expand navbar-dark bg-dark">
  <a href="" class="navbar-brand ms-1" >
    <img 
      width="40"
      alt="logo comune s.egidio"
      src="https://upload.wikimedia.org/wikipedia/it/0/04/Sant%27Egidio_alla_Vibrata-Stemma.png"
      />
      Affetti
  </a>
  <div class="navbar-nav me-auto">
    <li class="nav-item">
      <a [routerLink]="['/admin']" class="nav-link">Admin</a>
    </li>
    
    <li class="nav-item">
      <a [routerLink]="['/home']" class="nav-link">Home</a>
    </li>
  
  </div>
  <div class="navbar-nav ms-auto">
    <li class="nav-item">
      <a href="" class="nav-link">Sing up</a>
    </li>
    <li class="nav-item me-1">
      <a href="" class="nav-link">Sing In</a>
    </li> 
  </div>
</div>


<app-header></app-header>



<div class="sidebar-content">
    <h2>Menu</h2>
  <ul>
      <li><a [routerLink]="['/posto']" >Posto</a></li>
    <li><a [routerLink]="['/user']" >User</a></li>
    <li><a [routerLink]="['/contraente']" >contraente</a></li>
    <li><a [routerLink]="['/comune']" >comune</a></li>
    <li><a [routerLink]="['/assegnatario']" >Assegnatario</a></li>
    <li><a [routerLink]="['/contratto']" >Contratto</a></li>
  </ul>
</div>

<router-outlet></router-outlet>