<!-- <div class="navbar navbar-expand navbar-dark bg-dark">
  <a href="" class="navbar-brand ms-1" >
    <img 
      width="40"
      alt="logo comune s.egidio"
      src="https://upload.wikimedia.org/wikipedia/it/0/04/Sant%27Egidio_alla_Vibrata-Stemma.png"
      />
      Affetti
  </a>
  <div class="navbar-nav me-auto">
    <li class="nav-item">
      <a [routerLink]="['/admin']" class="nav-link">Admin</a>
    </li>
    
    <li class="nav-item">
      <a [routerLink]="['/home']" class="nav-link">Home</a>
    </li>
  
  </div>
  <div class="navbar-nav ms-auto">
    <li class="nav-item">
      <a href="" class="nav-link">Sing up</a>
    </li>
    <li class="nav-item me-1">
      <a href="" class="nav-link">Sing In</a>
    </li> 
  </div>
</div> -->



<!-- 

<div class="sidebar-content">
    <h2>Menu</h2>
  <ul>
    <button [routerLink]="['/domandaFull']" >Nuova Domanda</button>
    <br>
    <button [routerLink]="['/domanda']" >Domande</button>
    <br>
    <button [routerLink]="['/posto']" >Posto</button>
    <br>
    <button [routerLink]="['/user']" >User</button>
    <br>
    <button [routerLink]="['/contraente']" >Contraente</button>
    <br>
    <button [routerLink]="['/comune']" >Comune</button>
    <br>
    <button [routerLink]="['/assegnatario']" >Assegnatario</button>
    <br>
    <button [routerLink]="['/contratto']" >Contratto</button>
    
  </ul>
</div> -->

<app-header></app-header>
<app-side-bar></app-side-bar>


<footer class="bg-light text-dark py-3 mt-0 border-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <strong>Pittysoft srl</strong> - Pellizza da Volpedo 24, 40139 Bologna (BO)
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-12 text-center">
        <a href="mailto:info@pittysoft.it" class="text-dark">info@pittysoft.net</a> |
        <a href="tel:+390511234567" class="text-dark">+39 3519832829</a> |
        <span>P.IVA 04286601200</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <small>
          <a [routerLink]="['/privacy-policy']" class="text-dark">Privacy Policy</a> |
          <a [routerLink]="['/termini-condizioni']" class="text-dark">Termini e Condizioni</a> |
          &copy; {{ currentYear }} Pittysoft. Tutti i diritti riservati.
        </small>
      </div>
    </div>
  </div>
</footer>


<!-- <router-outlet></router-outlet> -->