<div class="container">
  <div class="row">
    <div class=" mrgnbtm">
      <h2>Cerca Contratti</h2>
     
      <form [formGroup]="contrattoForm">
       
        <div class="row">
          <h4>Dati Contraente</h4>
          <label class="col-sm-1 "for="nome">Nome</label>
          <div class="form-group col-sm-5">
            <input type="text" class="form-control" formControlName="nome" id="nome" aria-describedby="nomelHelp">
          </div>
          
          <label class="col-sm-1 "for="cognome">Cognome</label>
          <div class="form-group col-sm-5">
            <input type="text" class="form-control" formControlName="cognome" id="cognome" aria-describedby="cognomelHelp">
          </div>
        </div>
          <br>
          <div class="row">

          
            <label class="col-sm-1 "for="Data">Tipologia</label>
            <div class="form-check" class="form-group col-sm-1" style="font-size: medium;">
              <input
                id="loculo"
                type="radio"
                value="LOCULO"
                name="tipologia"
                formControlName="tipologia"
              />
              <label class="custom-control-label" for="loculo"> Loculo</label>
            </div>
            <div class="form-check" class="form-group col-sm-3" >
              <input
                id="tenuta_a_disposizione"
                type="radio"
                value="TENUTA_DISPOSIZIONE"
                name="tipologia"
                formControlName="tipologia"
              />
              <label class="custom-control-label" for="tenuta_a_disposizione" style="font-size: medium;"> Tenuta a disposizione</label>
            </div>
            <div class="form-group col-sm-1"></div>
            <label class="col-sm-1 "for="codice_fiscale">Cod. Fis.</label>
            <div class="form-group col-sm-5">
              <input type="text" class="form-control" formControlName="codice_fiscale" id="codice_fiscale" aria-describedby="codice_fiscalelHelp">
            </div>
          </div>
          <br>
          <div class="row">
            <label class="col-sm-1 "for="numero_protocollo">N.Protocollo</label>
            <div class="form-group col-md-5">
              <input type="text" class="form-control" formControlName="numero_protocollo" id="numero_protocollo" aria-describedby="numero_protocollolHelp">
            </div>

            <label class="col-sm-1 "for="stato">Stato</label>
            <div class="form-group col-md-5">
                <select class="form-select" aria-label="Default select example">
                  <option value="">-----</option>
                  <option value="APERTA">APERTA</option>
                  <option value="CHIUSA">CHIUSA</option>
                </select>
            </div>
          </div>
          <br>
          <div class="row">

            <h4>Cerca Intervallo</h4>
            <label class="col-sm-1 "for="stato">da</label>
            <div class="form-group col-md-2">
              <input ng-model="answers.dob" type="date" class="form-control" formControlName="data_protocollo_iniziale" id="data_protocollo_iniziale" aria-describedby="data_protocollo_inizialelHelp" placeholder="data_protocollo_iniziale">
            </div>
            <label class="col-sm-1 "for="stato">a</label>
            <div class="form-group col-md-2">
              <input ng-model="answers.dob" type="date" class="form-control" formControlName="data_protocollo_finale" id="data_protocollo_finale" aria-describedby="data_protocollo_finalelHelp" placeholder="data_protocollo_finale">
            </div>

          </div>
          <br>
          <div class="row">
            <button class="btn btn-info col-md-2"  (click)="cercaContratti(contrattoForm)">Cerca</button>
            <div class="col-md-8"></div>
            <button input type="reset" class="btn btn-danger col-md-2" type="reset">Svuota Filtri</button>
          </div>
      </form>
      </div>
  <br>

  <h2>Contratti</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>N.Protocollo</th>
        <th>Stato</th>
        <th>Data Protocollo</th>
        <th>Data Scadenza</th>
        <th>Contraente</th>
        <th>Assegnatario</th>
        <th>Dettaglio</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contratto of contratti; let i = index">
        <td>{{contratto.numeroProtocolloContratto}}</td>
        <td>{{contratto.stato}}</td>
        <td>{{contratto.dataProtocolloContratto.substring(0, 10)}}</td>
        <td>{{contratto.dataScadenzaContratto.substring(0, 10)}}</td>
        <td>{{contratto.contraente}}</td>
        <td>{{contratto.assegnatario}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>