<div class="modal fade" id="contrattoModal" tabIndex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #f="ngForm" >
                <div class="modal-header">
                    <h4 class="modal-title">Dettaglio Contratto </h4>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                        <div class="modal-body">
                            
                   
                        </div>

                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                                <button class="btn btn-primary">Salva modifiche</button>
                            </div>  
            </form>
        </div>
    </div>
</div>

