<div>
<h2>Users</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>loculo</th>
        <th>fornice</th>
        <th>tipo</th>
        <th>user</th>
        <th>data update</th>
        <th>data insert</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <th>posto.id</th>
        <th>posto.loculo</th>
        <th>posto.fornice</th>
        <th>posto.tipo</th>
        <th>posto.user</th>
        <th>posto.data_update</th>
        <th>posto.data_insert</th>
      </tr>
    </tbody>
  </table>
</div>

