<div class="container">
  <div class="row">
    <div class="col-md-7 mrgnbtm">
      <h2>Create Posto</h2>
      <form [formGroup]="postoForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="id">ID</label>
            <input type="text" class="form-control" formControlName="id" id="id" aria-describedby="idlHelp" placeholder="id">
          </div>
          <div class="form-group col-md-6">
            <label for="loculo">Loculo</label>
            <input type="text" class="form-control" formControlName="loculo" id="id" aria-describedby="loculolHelp" placeholder="loculo">
          </div>
          <div class="form-group col-md-6">
            <label for="fornice">Fornice</label>
            <input type="text" class="form-control" formControlName="fornice" id="loculo" aria-describedby="fornicelHelp" placeholder="fornice">
          </div>
          <div class="form-group col-md-6">
          <label for="data_insert">data_insert</label>
          <input type="text" class="form-control" formControlName="data_insert" aria-describedby="data_insertlHelp" placeholder="data_insert">
          </div>
          <div class="form-group col-md-6">
          <label for="data_update">data_update</label>
          <input type="text" class="form-control" formControlName="data_update" aria-describedby="data_updateHelp" placeholder="data_update">
        </div>
        <div class="form-group col-md-6">
          <label for="tipo">tipo</label>
          <input type="text" class="form-control" formControlName="tipo" aria-describedby="tipolHelp" placeholder="tipo">
        </div>
        <div class="form-group col-md-6">
          <label for="utenti">utenti</label>
          <input type="text" class="form-control" formControlName="utenti" aria-describedby="utentilHelp" placeholder="utenti">
        </div>
        </div>
        <button type="submit" [disabled]="!postoForm.valid" class="btn btn-danger">Create</button>
      </form>
    </div>
    <div class="col-md-4 mrgnbtm">
    </div>
   </div>


    <h2>Posti</h2>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>loculo</th>
        <th>fornice</th>
        <th>data_insert</th>
        <th>data_update</th>
        <th>tipo</th>
        <th>utenti</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let posto of posti; let i = index">
        <td>{{i + 1}}</td>
        <td>{{posto.id}}</td>
        <td>{{posto.loculo}}</td>
        <td>{{posto.fornice}}</td>
        <td>{{posto.data_insert}}</td>
        <td>{{posto.data_update}}</td>
        <td>{{posto.tipo}}</td>
        <td>{{posto.utenti}}</td>
      </tr>
    </tbody>
    </table>
 </div>


