<div class="modal fade" id="domandaModal" tabIndex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form #f="ngForm">
				<div class="modal-header">
					<h2 class="modal-title">Dettaglio Domanda</h2>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<div class="modal-body container">
					<div class="alert alert-danger" *ngIf="errorMessage">
						<strong>Error!</strong>{{errorMessage}}
					</div>

					<div class="row">
						<div class="col-md-6 col-sm-12 p-3">
							<div class="col-12">
								<h3>Protocollo</h3>
							</div>
							<div class="col-12">
								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="protocollo">Numero</label> <input
										type="search" id="protocollo" name="protocollo"
										class="form-control mx-3" [(ngModel)]="domanda.protocollo"
										#protocollo="ngModel" disabled>
								</div>

								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="data_protocollo">Data</label>
									<input type="text" id="data_protocollo" name="data_protocollo"
										class="form-control mx-3"
										[(ngModel)]="domanda.data_protocollo"
										[ngModel]="domanda.data_protocollo | date:'dd/MM/yyyy' "
										#data_protocollo="ngModel" disabled>
								</div>

								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="stato">stato</label> <select
										class="form-select" aria-label="Default select example"
										type="search" id="stato" name="stato"
										class="form-control mx-3" [(ngModel)]="domanda.stato"
										#stato="ngModel">
										<option>-----</option>
										<option value="APERTA">Aperta</option>
										<option value="CHIUSA">Chiusa</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 p-3">
							<div class="col-12">
								<h3>Dati Contraente</h3>
							</div>
							<div class="col-12">
								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="nome">Nome</label> <input
										type="search" id="nome" name="nome" class="form-control mx-3"
										[(ngModel)]="domanda.nome" #nome="ngModel" disabled>
								</div>

								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="cognome">Cognome</label> <input
										type="search" id="cognome" name="cognome"
										class="form-control mx-3" [(ngModel)]="domanda.cognome"
										#cognome="ngModel" disabled>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-sm-12 p-3">
							<div class="col-12">
								<h3>Dati Nascita</h3>
							</div>
							<div class="col-12">
								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="comune_nascita">Comune</label>
									<input type="search" id="comune_nascita" name="comune_nascita"
										class="form-control mx-3" [(ngModel)]="domanda.comune_nascita"
										#comune_nascita="ngModel" disabled>
								</div>

								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="provincia_nascita">Provincia</label>
									<input type="search" id="provincia_nascita"
										name="provincia_nascita" class="form-control mx-3"
										[(ngModel)]="domanda.provincia_nascita"
										#provincia_nascita="ngModel" disabled>
								</div>

								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="stato_nascita">Stato</label>
									<input type="search" id="stato_nascita" name="stato_nascita"
										class="form-control mx-3" [(ngModel)]="domanda.stato_nascita"
										#stato_nascita="ngModel" disabled>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 p-3">
							<div class="col-12">
								<h3>Dati Residenza</h3>
							</div>
							<div class="col-12">
								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="comune_residenza">Comune</label>
									<input type="search" id="comune_residenza"
										name="comune_residenza" class="form-control mx-3"
										[(ngModel)]="domanda.comune_residenza"
										#comune_residenza="ngModel" disabled>
								</div>

								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="provincia_residenza">Provincia</label>
									<input type="search" id="provincia_residenza"
										name="provincia_residenza" class="form-control mx-3"
										[(ngModel)]="domanda.provincia_residenza"
										#provincia_residenza="ngModel" disabled>
								</div>

								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="via_residenza">Indirizzo</label>
									<input type="search" id="via_residenza" name="via_residenza"
										class="form-control mx-3" [(ngModel)]="domanda.via_residenza"
										#via_residenza="ngModel" disabled>
								</div>

								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="civico_residenza">Civico</label>
									<input type="search" id="civico_residenza"
										name="civico_residenza" class="form-control mx-3"
										[(ngModel)]="domanda.civico_residenza"
										#civico_residenza="ngModel" disabled>
								</div>

								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="cap_residenza">Cap</label> <input
										type="search" id="cap_residenza" name="cap_residenza"
										class="form-control mx-3" [(ngModel)]="domanda.cap_residenza"
										#cap_residenza="ngModel" disabled>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-6 col-sm-12 p-3">
							<div class="col-12">
								<h3>Altri Dati</h3>
							</div>
							<div class="col-12">
								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="codice_fiscale">Codice
										Fiscale</label> <input type="search" id="codice_fiscale"
										name="codice_fiscale" class="form-control mx-3"
										[(ngModel)]="domanda.codice_fiscale" #codice_fiscale="ngModel"
										disabled>
								</div>

								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="email">Email</label> <input
										type="search" id="email" name="email"
										class="form-control mx-3" [(ngModel)]="domanda.email"
										#email="ngModel" disabled>
								</div>

								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="telefono">Telefono</label> <input
										type="search" id="telefono" name="telefono"
										class="form-control mx-3" [(ngModel)]="domanda.telefono"
										#telefono="ngModel" disabled>
								</div>

								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="note">Note</label> <input
										type="textarea" id="note" name="note"
										class="form-control mx-3" [(ngModel)]="domanda.note"
										#note="ngModel" disabled>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 p-3">
							<div class="col-12">
								<h3>Dati posto</h3>
							</div>
							<div class="col-12">
								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="loculo">Loculo</label> <input
										type="search" id="loculo" name="loculo"
										class="form-control mx-3" [(ngModel)]="domanda.loculo"
										#loculo="ngModel" disabled>
								</div>

								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="fornice">Fornice</label> <input
										type="search" id="fornice" name="fornice"
										class="form-control mx-3" [(ngModel)]="domanda.fornice"
										#fornice="ngModel" disabled>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-sm-12 p-3">
							<div class="col-12">
								<h3>Assegnatario</h3>
							</div>
							<div class="col-12">
								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="nomeAss">Nome</label> <input
										type="search" id="nomeAss" name="nomeAss"
										class="form-control mx-3" [(ngModel)]="domanda.nomeAss"
										#nomeAss="ngModel" disabled>
								</div>

								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="cognomeAss">Cognome</label>
									<input type="search" id="cognomeAss" name="cognomeAss"
										class="form-control mx-3" [(ngModel)]="domanda.cognomeAss"
										#cognomeAss="ngModel" disabled>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 p-3">
							<div class="col-12">
								<h3>Dati Decesso</h3>
							</div>
							<div class="col-12">
								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="comune_decesso">Comune</label>
									<input type="search" id="comune_decesso" name="comune_decesso"
										class="form-control mx-3" [(ngModel)]="domanda.comune_decesso"
										#comune_decesso="ngModel" disabled>
								</div>

								<div class="form-group col-12  d-flex mb-3">
									<label class="col-lg-2 col-3" for="data_decesso">Data</label> <input
										type="text" id="data_decesso" name="data_decesso"
										class="form-control mx-3" [(ngModel)]="domanda.data_decesso"
										[ngModel]="domanda.data_decesso | date:'dd/MM/yyyy' "
										#data_decesso="ngModel" disabled>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="modal-footer">

					<button type="button" class="btn btn-danger"
						data-bs-dismiss="modal">Chiudi</button>
					<button type="button" class="btn btn-primary"
						(click)="printDomandaModal()">Stampa</button>
					<button type="button" class="btn btn-primary"
						(click)="saveDomandaModal()">Modifica</button>
				</div>
			</form>
		</div>
	</div>
</div>
