<div class="modal fade" id="domandaModal" tabIndex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #f="ngForm" >
                 <div class="modal-header">
                    <h2 class="modal-title"> Dettaglio Domanda</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                 </div>

                 <div class="modal-body">
                    <div class="alert alert-danger" *ngIf="errorMessage">
                        <strong>Error!</strong>{{errorMessage}}
                    </div>

                    <h3>Protocollo </h3>

                    <div class="form-group">
                        <label for="numeroProtocolloDomanda">Numero</label>
                        <input 
                            type="search" 
                            id="numeroProtocolloDomanda" 
                            name="numeroProtocolloDomanda"
                            class="form-control" 
                            [(ngModel)]="domanda.numeroProtocolloDomanda"
                            #numeroProtocolloDomanda="ngModel"
                            
                            >
                    </div>

                    <div class="form-group">
                        <label for="dataProtocollo">Data</label>
                        <input 
                            type="text" 
                            id="data_protocollo" 
                            name="data_protocollo"
                            class="form-control" 
                            [(ngModel)]="domanda.dataProtocollo"
                            #dataProtocollo="ngModel"
                            readonly
                            >
                    </div>

                    <div class="form-group">
                        <label for="stato">stato</label>
                        <select class="form-select" 
                                aria-label="Default select example"
                                type="search" 
                                id="stato" 
                                name="stato"
                                class="form-control" 
                                [(ngModel)]="domanda.stato"
                                #stato="ngModel"
                                
                                >
                        <option >-----</option>
                        <option  value="APERTA">Aperta</option>
                        <option  value="CHIUSA">Chiusa</option>
                        </select>
                    </div>

                    <h3>Dati Contraente </h3>

                    <div class="form-group">
                        <label for="nomeContraente">Nome</label>
                        <input 
                            type="search" 
                            id="nomeContraente" 
                            name="nomeContraente"
                            class="form-control" 
                            [(ngModel)]="domanda.nomeContraente"
                            #nomeContraente="ngModel"
                            readonly
                            >
                    </div>

                    <div class="form-group">
                        <label for="cognomeContraente">Cognome</label>
                        <input 
                            type="search" 
                            id="cognomeContraente" 
                            name="cognomeContraente"
                            class="form-control" 
                            [(ngModel)]="domanda.cognomeContraente"
                            #cognomeContraente="ngModel"
                            readonly
                            >
                    </div>

                    <h3>Dati Nascita </h3>

                    <div class="form-group">
                        <label for="comuneDiNascita">Comune</label>
                        <input 
                            type="search" 
                            id="comuneDiNascita" 
                            name="comuneDiNascita"
                            class="form-control" 
                            [(ngModel)]="domanda.comuneDiNascita"
                            #comuneDiNascita="ngModel"
                            readonly
                            >
                    </div>

                    <div class="form-group">
                        <label for="provinciaDiNascita">Provincia</label>
                        <input 
                            type="search" 
                            id="provinciaDiNascita" 
                            name="provinciaDiNascita"
                            class="form-control" 
                            [(ngModel)]="domanda.provinciaDiNascita"
                            #provinciaDiNascita="ngModel"
                            readonly
                            >
                    </div>

                    <div class="form-group">
                        <label for="statoDiNascita">Stato</label>
                        <input 
                            type="search" 
                            id="statoDiNascita" 
                            name="statoDiNascita"
                            class="form-control" 
                            [(ngModel)]="domanda.statoDiNascita"
                            #statoDiNascita="ngModel"
                            readonly
                            >
                    </div>

                    <h3>Dati Residenza </h3>

                    <div class="form-group">
                        <label for="comuneDiResidenza">Comune</label>
                        <input 
                            type="search" 
                            id="comuneDiResidenza" 
                            name="comuneDiResidenza"
                            class="form-control" 
                            [(ngModel)]="domanda.comuneDiResidenza"
                            #comuneDiResidenza="ngModel"
                            readonly
                            >
                    </div>

                    <div class="form-group">
                        <label for="provinciaDiResidenza">Provincia</label>
                        <input 
                            type="search" 
                            id="provinciaDiResidenza" 
                            name="provinciaDiResidenza"
                            class="form-control" 
                            [(ngModel)]="domanda.provinciaDiResidenza"
                            #provinciaDiResidenza="ngModel"
                            readonly
                            >
                    </div>

                    <div class="form-group">
                        <label for="viaDiResidenza">Indirizzo</label>
                        <input 
                            type="search" 
                            id="viaDiResidenza" 
                            name="viaDiResidenza"
                            class="form-control" 
                            [(ngModel)]="domanda.viaDiResidenza"
                            #viaDiResidenza="ngModel"
                            readonly
                            >
                    </div>

                    <div class="form-group">
                        <label for="civicoDiResidenza">Civico</label>
                        <input 
                            type="search" 
                            id="civicoDiResidenza" 
                            name="civicoDiResidenza"
                            class="form-control" 
                            [(ngModel)]="domanda.civicoDiResidenza"
                            #civicoDiResidenza="ngModel"
                            readonly
                            >
                    </div>

                    <div class="form-group">
                        <label for="capDiResidenza">Cap</label>
                        <input 
                            type="search" 
                            id="capDiResidenza" 
                            name="capDiResidenza"
                            class="form-control" 
                            [(ngModel)]="domanda.capDiResidenza"
                            #capDiResidenza="ngModel"
                            readonly
                            >
                    </div>

                    <h3>Altri Dati</h3>

                    <div class="form-group">
                        <label for="codiceFiscale">Codice Fiscale</label>
                        <input 
                            type="search" 
                            id="codiceFiscale" 
                            name="codiceFiscale"
                            class="form-control" 
                            [(ngModel)]="domanda.codiceFiscale"
                            #codiceFiscale="ngModel"
                            readonly
                            >
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input 
                            type="search" 
                            id="email" 
                            name="email"
                            class="form-control" 
                            [(ngModel)]="domanda.email"
                            #email="ngModel"
                            readonly
                            >
                    </div>

                    <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input 
                            type="search" 
                            id="telefono" 
                            name="telefono"
                            class="form-control" 
                            [(ngModel)]="domanda.telefono"
                            #telefono="ngModel"
                            readonly
                            >
                    </div>

                    <div class="form-group">
                        <label for="note">Note</label>
                        <input 
                            type="textarea" 
                            id="note" 
                            name="note"
                            class="form-control" 
                            [(ngModel)]="domanda.note"
                            #note="ngModel"
                            readonly
                            >
                    </div>

                    <h3>Dati posto</h3>

                    <div class="form-group">
                        <label for="loculo">Loculo</label>
                        <input 
                            type="search" 
                            id="loculo" 
                            name="loculo"
                            class="form-control" 
                            [(ngModel)]="domanda.loculo"
                            #loculo="ngModel"
                            readonly
                            >
                    </div>

                    <div class="form-group">
                        <label for="fornice">Fornice</label>
                        <input 
                            type="search" 
                            id="fornice" 
                            name="fornice"
                            class="form-control" 
                            [(ngModel)]="domanda.fornice"
                            #fornice="ngModel"
                            readonly
                            >
                    </div>



                    <h3>Assegnatario</h3>

                    <div class="form-group">
                        <label for="nomeAss">Nome</label>
                        <input 
                            type="search" 
                            id="nomeAss" 
                            name="nomeAss"
                            class="form-control" 
                            [(ngModel)]="domanda.nomeAss"
                            #nomeAss="ngModel"
                            readonly
                            >
                    </div>

                    <div class="form-group">
                        <label for="cognomeAss">Cognome</label>
                        <input 
                            type="search" 
                            id="cognomeAss" 
                            name="cognomeAss"
                            class="form-control" 
                            [(ngModel)]="domanda.cognomeAss"
                            #cognomeAss="ngModel"
                            readonly
                            >
                    </div>

                    <h3>Dati Decesso</h3>

                    <div class="form-group">
                        <label for="comuneDecesso">Comune</label>
                        <input 
                            type="search" 
                            id="comuneDecesso" 
                            name="comuneDecesso"
                            class="form-control" 
                            [(ngModel)]="domanda.comuneDecesso"
                            #comuneDecesso="ngModel"
                            readonly
                            >
                    </div>

                    <div class="form-group">
                        <label for="dataDecesso">Date</label>
                        <input 
                            type="text" 
                            id="dataDecesso" 
                            name="dataDecesso"
                            class="form-control" 
                            [(ngModel)]="domanda.dataDecesso"
                            #dataDecesso="ngModel"
                            readonly
                            >
                    </div>

                    </div>
               

                <div class="modal-footer">

                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Chiudi</button>
                  <button type="button" class="btn btn-primary" (click)="saveDomandaModal()">Modifica</button>
                </div>
          </form>
        </div>
    </div>
</div>
  